@charset "UTF-8";
@import "./mixin";

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-weight: 600;
    font-size: 24px;
    background-color: greenyellow;
}

.main {
    height: 100vh;
    padding-top: 40px;
    background-color: darkorchid;

    &__container {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border: 4px solid greenyellow;

        .fortune {
            font-size: 32px;
            font-weight: 700;
            color: greenyellow;
            -webkit-text-stroke: 2px #000;
        }
    }

    &__btn {
        position: absolute;
        top: 120px;
        width: 100%;
        text-align: center;
    }
}
.btn {
    max-width:150px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: 500;
    border: 2px solid greenyellow;
    background-color: greenyellow;
    box-shadow: 0 5px 0 #aaaaaa;
    text-align: center;
    transition: all 0.3s;

    &:hover {
        transform: translateY(3px);
        box-shadow: 0 2px 0 #aaaaaa;
    }
}

.is-disactive {
    display: none;
}
@keyframes fortuneChange01 {
    from {
        display: block;
    } to {
        display: none;
    }
}

.fortune01 {
    animation-name: fortuneChange01;
    animation-timing-function: 1s;
    
}